* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.header {
  position:fixed;
  top:0;
}

.ctn {
  margin-top:30px;
}

#welcome-section {
  font-size:30px;
  font-family: "Raleway", sans-serif;
}

@media (max-width:600px){
  #welcome-section {
  font-size:25px;
}
}